@charset "utf-8";
/* CSS Document */

*{margin:0px;padding:0px;list-style:none;}
body{font-family:黑体;font-size:14px;}
li{list-style:none;}
#main{ width:1024px; height:auto; margin:0px auto;}
#nav{ height:42px; background:url(../img/menu.png) no-repeat;}
#nav li{ width:20%; float:left; text-align:center; line-height:42px;}
#nav li:hover {background-color:rgba(255,255,255,0.5); color:rgba(0,0,0,1);}
#nav li a{ font-size:20px; color:#fff; text-decoration:none;}
#nav li a:hover{ color:#FF9900;}
#content{ height:700px; padding:12px; background:#f8fafd;}
#jieshao{ height:370px;}
#jianjie{width:490px; height:360px; float:left;}
#juese{width:490px; height:360px; float:right;}
.jsjs{ height:150px; padding:10px;}
.jsjs img{ float:left; padding-right:15px;}
#title{ background:url(../img/title.png); height:38px; padding-left:10px; line-height:38px; font-size:16px; color:#fff;}
.title1{ background-color:rgba(102,102,102,1); border-radius:5px; height:38px; padding-left:10px; line-height:38px; font-size:16px; margin-bottom:10px;}
.wenzi{ line-height:22px;}
.wenzi1{ font-size:20px; line-height:30px;}
#tupian{ height:300px; margin-top:10px;}
#tupian{ border:2px solid rgba(102,102,102,1); padding:10px; background:#ffffff;}
#tupian ul{ margin-top:10px;}
#tupian li{ float:left; margin-bottom:10px; width:25%; text-align:center;}
.pinglun {width:500px; float:left; padding-top:30px;}
.pinglun dl{ clear:both;}
.pinglun dl dt{ float:left;width:100px; height:42px; margin-bottom:25px; line-height:40px; text-align:right; font-size:16px;}
.pinglun dl dd{ float:left;width:388px;}
.input1{ border:1px solid #697da4; height:38px; width:383px; line-height:38px;}
.lpleft{ padding-left:30px; padding-top:25px; width:450px; float:left;}
.tupian p{ font-size:14px; margin-bottom:15px;}
.tupian ul li{ float:left; width:32%; text-align:center; margin-bottom:15px;}
#bottom{background:rgba(102,102,102,1);height:40px;text-align:center;padding-top:20px;font-size:14px; color:rgba(204,204,204,1);}

